<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<!-- PUT YOUR CODE HERE TO SHOW THE DATA-->
{{range .}}

{{.AcaYear}}
{{.Fall.Term}}
{{range $i, $course := .Fall.Courses}}
Index: {{ $i }}
{{$course.Number}}
{{$course.Name}}
{{$course.Units}}
{{end}}
{{end}}

</body>
</html>
