<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>


	{{ range .Bf }} Breakfast {{.Item}}, {{.Num}} </br> {{end}}
	{{ range .Lch }} Lunch {{.Item}}, {{.Num}} </br> {{ end }}
	{{ range .Dr }} Dinner {{.Item}}, {{.Num}} </br> {{ end }}

</body>
</html>
